{% extends "backadmin_base.html" %}

{% block content %}	
	<div class="container">
		<form id = "ssid_form" action = "../modify_ssid/" method = "POST">
		{% csrf_token %}
		<!--div class = "demo-card-wide mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title">
				<h2 class="mdl-card__title-text">Enter new SSID:</h2>
			</div>
			<div class = "mdl_card__supporting_text">
					<input class="mdl-textfield__input" placeholder = "Currently: {{ ssid_name }}" name="ssid_name" id = "ssid" type = "text">
			</div>
			<div class="mdl-card__actions mdl-card--border">
				<a class = "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"><span onclick="submit_values()">Change SSID Information</span></a>
			</div>
		</div -->
		<div class = "demo-card-wide mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title">
				<h2 class="mdl-card__title-text">Enter new SSID</h2>
			</div>
			<div class="mdl-card__supporting-text">
				<font size="3em">
					<input class="mdl-textfield__input" type="text" id="ssid" name="ssid_name" placeholder = "Currently: {{ ssid_name }}">
				</font>
			</div>
			<div class="mdl-card--border mdl-card__actions">
				<a class = "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"><span onclick = "submit_values()">Change SSID</span></a>
			</div>
		</div> 
		</form>
		{% if result_text %}
		<div class="row" align="CENTER">
			<span class = "{{ outcome }} text-darken-2">
				{{ result_text }}
			</span>
		</div>
		{% endif %}
	</div>
	<script>
		function submit_values() {
			document.getElementById('ssid_form').submit();
		}
	</script>
	<style>
		.demo-card-wide.mdl-card {
			width: 100%;
		}
		.demo-card-wide > .mdl-card__title {
			color : #383839;
		}
	</style>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% endblock %}