{% extends "backadmin_base.html" %}

{% block content %}	
	<div class="container">
		<form id = "ssid_form" action = "../modify_ssid/" method = "POST">
		{% csrf_token %}
			<h2>Enter new SSID</h2>
			<font size="3em">
				<input class="form-control" type="text" id="ssid" name="ssid_name" placeholder = "Currently: {{ ssid_name }}"><hr />
			</font>
			<button class = "btn btn-primary" onclick = "submit_values()">Change SSID</button> 
		</form>
		{% if result_text %}
		<div class="row" align="CENTER">
			<span class = "{{ outcome }}">
				{{ result_text }}
			</span>
		</div>
		{% endif %}
	</div>
	<script src="/static/js/bootstrap.min.js"></script>
	<script>
		function submit_values() {
			document.getElementById('ssid_form').submit();
		}
	</script>

{% endblock %}