{% extends "upload_base.html" %}

{% block content %}	
	<!--nav>
		<div class="nav-wrapper grey">
			<span class="brand-logo center">SSID Information Change Page</span>
		</div>
	</nav-->
	<div class="container">
		<form class = "col s12" id = "ssid_form" action = "../modify_ssid/" method = "POST">
		{% csrf_token %}
		<div class = "card grey lighten-4 z-depth-3">
			<div class="card-content">
				<div class = "row">
					<div class = "input-field col s12">
						<p>Enter new SSID:</p>
						<input placeholder = "Currently: {{ ssid_name }}" name="ssid_name" id = "ssid" type = "text" opacity = "1">
					</div>
				</div>
			</div>
			<div class="card-action">
				<a href="#"><span onclick="submit_values()" class = "grey-text text-darken-3">Change SSID Information</span></a>
			</div>
		</div>
		</form>
		{% if result_text %}
		<div class="row" align="CENTER">
			<span class = "{{ outcome }} text-darken-2">
				{{ result_text }}
			</span>
		</div>
		{% endif %}
	</div>
	<!-- Compiled and minified CSS for Material Design -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript for Material Design -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <!-- Icons for Material Design -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script>
			function submit_values() {
					document.getElementById('ssid_form').submit();
			}
	</script>

{% endblock %}