<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Administration</title>
    <!-- JQuery -->
    <script src="/static/js/jquery-3.2.1.min.js"></script>
     <!-- Bootstrap styles -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
<div style="padding-top:0px">
	<img src="/static/logo.png" alt="logo"/>
</div>
<nav class = "navbar navbar-inverse">
	<ul class = "navbar navbar-nav">
		<li class="dropdown">
			<a class="dropdown-toggle navbar-brand" data-toggle="dropdown" href="javascript:void(0);">
				User: <span id="username"></span>
				<span class = "glyphicon glyphicon-menu-hamburger"></span>
			</a>
			<ul class = "dropdown-menu" id="dropdown">
                <li id = "file_upload"><a href="{% url 'fileupload:upload-new' %}">File Upload</a></li>
                <li class="divider"></li>
                <li id = "ssid_mod"><a href="{% url 'ssidmod:index' %}">SSID Modification</a></li>
                 <li class="divider"></li>
                <li id = "captive_mod"><a href="{% url 'changecaptive:index' %}">Captive Portal Modification</a></li>
                 <li class="divider"></li>
                <li id = "change_vars"><a href="{% url 'changevars:loadpage' %}">Change Global Variables</a></li>
                 <li class="divider"></li>
                <li id = "user_create"><a href="{% url 'createuser:index' %}">Superuser Tasks</a></li>
                 <li class="divider"></li>
                <li id = "change_pass"><a href = "{% url 'backadmin:user_changepass' %}">Change password</a></li>
                <li class="divider"></li>
			</ul>
		</li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li style="padding-right:10px"><a href="{% url 'backadmin:user_logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
	</ul>

</nav>
<div class = "container">
{% block content %}
    <h1>No content set</h1>
{% endblock %}
</div>
</body>
    <meta name="description" content="File Upload widget with multiple file selection, drag&amp;drop support, progress bars, validation and preview images, audio and video for jQuery. Supports cross-domain, chunked and resumable file uploads and client-side image resizing. Works with any server-side platform (PHP, Python, Ruby on Rails, Java, Node.js, Go etc.) that supports standard HTML form file uploads.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Generic page styles -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- blueimp Gallery styles -->
    <link rel="stylesheet" href="/static/css/blueimp-gallery.min.css">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="/static/css/jquery.fileupload-ui.css">
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <script>
    $(function() {
    	$.getJSON("{% url 'backadmin:return_permissions' %}", function(response) {
        	var obj = JSON.parse(JSON.stringify(response));
            if (obj.user_name == '_null_') {
                window.location.href = "/backadmin/";
            }
            document.getElementById("username").innerHTML = obj.user_name;
        	if (!(obj.down_to_usb)) {
        		var x = document.getElementById("usb_down");
        		if (x != null) {
            		x.style.display="None";
            	}
        	}
        	if (!(obj.up_from_usb)) {
        		var x = document.getElementById("usb");
        		if (x != null) {
            		x.style.display="None";
            	}
        	}
        	if (!(obj.up_from_dev)) {
        		var x = document.getElementById("dev_up");
        		if (x != null) {
            		x.style.display="None";
            	}
        	}
        	if (!(obj.delete_files)) {
        		var x = document.getElementById("delete_all");
        		if (x != null) {
            		x.style.display="None";
            	}
            }
        	if (!(obj.ssid_mod)) {
            	document.getElementById("ssid_mod").style.display="None";
        	}
        	if (!(obj.captive_mod)) {
        		document.getElementById("captive_mod").style.display="None";
        	}
        	if (!(obj.superuser_tasks)) {
        		document.getElementById("change_vars").style.display="None";
                document.getElementById("user_create").style.display="None";
        	}
        });
        var t = window.location.pathname;
        switch(t) {
            case '/upload/new/':
                document.getElementById("file_upload").setAttribute("class", "active");
                break;
             case '/ssidmod/modify_ssid/':
                document.getElementById("ssid_mod").setAttribute("class", "active");
                break;
             case '/changecaptive/':
                document.getElementById("captive_mod").setAttribute("class", "active");
                break;
             case '/changevariables/':
                document.getElementById("change_vars").setAttribute("class", "active");
                break;
             case '/createuser/new/':
                document.getElementById("user_create").setAttribute("class", "active");
                break;
             case '/backadmin/change_pass/':
                document.getElementById("change_pass").setAttribute("class", "active");
                break;
        }

    });

    
    </script>
    <noscript><link rel="stylesheet" href="/static/css/jquery.fileupload-ui-noscript.css"></noscript>
</html>
